<header style="position: sticky; top: 0; z-index: 1">
  <navbar>
    <div style="background-color: black; padding: 10px 0px">
      <ul
        style="list-style: none; display: flex; justify-content: space-between"
      >
        <li style="padding: 0 5%;">
          <a
            style="color: white; text-decoration: none; font-weight: bold"
            href="/products"
          >Products</a>
        </li>
        {{#if canShowRealtime}}
          <li style="padding: 0 5%;">
            <a
              style="color: white; text-decoration: none; font-weight: bold"
              href="/realTimeProducts"
            >RealTime</a>
          </li>
        {{/if}}
        <li style="padding: 0 5%;">
          <a
            style="color: white; text-decoration: none; font-weight: bold"
            href="/chat"
          >Chat</a>
        </li>
        <li style="padding: 0 5%;">
          <a
            style="color: white; text-decoration: none; font-weight: bold; display: flex"
            href="/carts"
          >Cart</a>
        </li>
        {{#if isAdmin}}
          <li style="padding: 0 5%;">
            <a
              style="color: white; text-decoration: none; font-weight: bold; display: flex"
              href="/users"
            >Users</a>
          </li>
        {{/if}}
        <li style="padding: 0 5%;">
          <a
            style="color: white; text-decoration: none; font-weight: bold"
            href="/api/users/logout"
          >Log out</a>
        </li>
      </ul>
    </div>
  </navbar>
</header>

<h1>Users list (only for admin 🤐)</h1>
<div class="deleteInactives"><input
    type="button"
    value="Delete inactive (48 hours) users ⚰️"
    onclick="deleteInactiveUsers()"
  /></div>

{{#if users.length}}
  <table class="users" id="users">
    <tr>
      <th>User</th>
      <th>Email</th>
      <th>Last connection</th>
      <th class="roleTh">Role</th>
    </tr>
    {{#each users}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.email}}</td>
        <td>{{this.last_connection}}</td>
        <td>{{this.role}}</td>
        <td><input
            type="button"
            value="Change role 👀"
            onclick="changeRole('{{this._id}}')"
          /></td>
        <td><input
            type="button"
            value="Delete user ☠️"
            onclick="deleteUser('{{this._id}}')"
          /></td>
      </tr>
    {{/each}}
  </table>
{{else}}
  <h1>Error en la carga de usuarios</h1>
{{/if}}

<script src="/js/users.js"></script>